.container{
    background-color: #faf8fc;
    min-height: 100vh;
    padding: 30px 20px;
}

.bar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    color: #555;
    font-size: 15px;
}

.bar a{
    text-decoration: none;
    color: rgb(0, 51, 102);
    font-weight: 600;
    font-size: 15px;

}
.bar a:hover{
    text-decoration: underline;
}

.sap{
    color: #888;
}

.form{
    max-width: 500px;
    background-color: #faf8fc;
    margin: 30px auto;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

.form h1{
    text-align: center;
    color: #003366;
    margin-bottom: 30px;
}

.form label{
    display: block;
    margin-bottom: 1px;
    font-weight: 600;
    color: #333;
}

.form input{
    width: 100%;
    padding: 12px;
    border: 1px solid #d0d7de;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: left;
    direction: 1tr;
}

.form input:focus{
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0,86,179,0.1);
}

.form button{
    width: 100%;
    padding: 14px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}

.form button:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}

.form p{
    text-align: center;
    margin-top: 15px;
}

.form a{
    text-decoration: none;
    color: #0056b3;
    font-weight: 600;
}

.form a:hover{
    text-decoration: underline;
}